In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('groupagg').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/26 19:38:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/12/26 19:38:33 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/12/26 19:38:33 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/12/26 19:38:33 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/12/26 19:38:33 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
/Users/aakashbolisetty/.pyenv/versions/3.7.5/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [3]:
df_pyspark = spark.read.csv('employees.csv',header=True,inferSchema=True)
df_pyspark.show()

+---+---------+--------+----------+----------+-------------------+------+---------------+
| ID|FirstName|LastName|Department|     Phone|            Address|Salary|         Skills|
+---+---------+--------+----------+----------+-------------------+------+---------------+
|  1|     Luke| Phillip|     Sales|1234567890| 1st Address, Miami| 52000|   Online Sales|
|  2|     Jack|  Darren|        IT|1234567891| 2nd Address, Miami| 52200|     Networking|
|  3|      Ken|    Wood|        IT|1234567892| 3rd Address, Miami| 58000|   Python, Java|
|  4|     John|  Wilson| Marketing|1234567893| 4th Address, Miami| 58700|   Facebook Ads|
|  5|    Emily|  Larson| Marketing|1234567894| 5th Address, Miami| 60000|  Instagram Ads|
|  6|     Anna|Sullivan|     Sales|1234567895| 6th Address, Miami| 54000|In-Person Sales|
|  7|  Richard|   Smith| Logistics|1234567896| 7th Address, Miami| 56000|Warehouse Mgmt.|
|  8|   Ronnie|   Moore|     Sales|1234567897| 8th Address, Miami| 49000|   Online Sales|
|  9|      Ron|   Drake|        IT|1234567898| 9th Address, Miami| 53000|  Linux Servers|
| 10|    Wayne|  Barker| Logistics|1234567899|10th Address, Miami| 59500|Product Loading|
+---+---------+--------+----------+----------+-------------------+------+---------------+

In [7]:
##Group by
df_pyspark.groupBy('Department').sum('Salary').show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|     Sales|     155000|
| Marketing|     118700|
|        IT|     163200|
| Logistics|     115500|
+----------+-----------+

In [8]:
df_pyspark.groupBy('Department').mean('Salary').show()

+----------+------------------+
|Department|       avg(Salary)|
+----------+------------------+
|     Sales|51666.666666666664|
| Marketing|           59350.0|
|        IT|           54400.0|
| Logistics|           57750.0|
+----------+------------------+

In [9]:
df_pyspark.groupBy('Department').count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|    3|
| Marketing|    2|
|        IT|    3|
| Logistics|    2|
+----------+-----+

In [12]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     552400|
+-----------+