In [5]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-macosx_10_9_x86_64.whl (11.0 MB)
     |████████████████████████████████| 11.0 MB 3.3 MB/s
Requirement already satisfied: numpy>=1.17.3 in /Users/aakashbolisetty/.pyenv/versions/3.7.5/lib/python3.7/site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/aakashbolisetty/.pyenv/versions/3.7.5/lib/python3.7/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2017.3
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
     |████████████████████████████████| 508 kB 12.5 MB/s
Requirement already satisfied: six>=1.5 in /Users/aakashbolisetty/.pyenv/versions/3.7.5/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.5 pytz-2024.2
WARNING: You are using pip version 21.3.1; however, version 24.0 is available.
You should consider upgrading via the '/Users/aakashbolisetty/.pyenv/versions/3.7.5/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyspark as py

In [6]:
import pandas as pd
pd.read_csv('employees.csv')

/Users/aakashbolisetty/.pyenv/versions/3.7.5/lib/python3.7/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,ID,FirstName,LastName,Department,Phone,Address,Salary,Skills
0,1,Luke,Phillip,Sales,1234567890,"1st Address, Miami",52000,Online Sales
1,2,Jack,Darren,IT,1234567891,"2nd Address, Miami",52200,Networking
2,3,Ken,Wood,IT,1234567892,"3rd Address, Miami",58000,"Python, Java"
3,4,John,Wilson,Marketing,1234567893,"4th Address, Miami",58700,Facebook Ads
4,5,Emily,Larson,Marketing,1234567894,"5th Address, Miami",60000,Instagram Ads
5,6,Anna,Sullivan,Sales,1234567895,"6th Address, Miami",54000,In-Person Sales
6,7,Richard,Smith,Logistics,1234567896,"7th Address, Miami",56000,Warehouse Mgmt.
7,8,Ronnie,Moore,Sales,1234567897,"8th Address, Miami",49000,Online Sales
8,9,Ron,Drake,IT,1234567898,"9th Address, Miami",53000,Linux Servers
9,10,Wayne,Barker,Logistics,1234567899,"10th Address, Miami",59500,Product Loading

In [7]:
##Start a Spark Session

from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Practice1').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/26 13:49:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
/Users/aakashbolisetty/.pyenv/versions/3.7.5/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [9]:
spark

In [12]:
df_pyspark = spark.read.csv('employees.csv',header=True)

In [13]:
df_pyspark

DataFrame[ID: string, FirstName: string, LastName: string, Department: string, Phone: string, Address: string, Salary: string, Skills: string]

In [14]:
df_pyspark.show()

+---+---------+--------+----------+----------+-------------------+------+---------------+
| ID|FirstName|LastName|Department|     Phone|            Address|Salary|         Skills|
+---+---------+--------+----------+----------+-------------------+------+---------------+
|  1|     Luke| Phillip|     Sales|1234567890| 1st Address, Miami| 52000|   Online Sales|
|  2|     Jack|  Darren|        IT|1234567891| 2nd Address, Miami| 52200|     Networking|
|  3|      Ken|    Wood|        IT|1234567892| 3rd Address, Miami| 58000|   Python, Java|
|  4|     John|  Wilson| Marketing|1234567893| 4th Address, Miami| 58700|   Facebook Ads|
|  5|    Emily|  Larson| Marketing|1234567894| 5th Address, Miami| 60000|  Instagram Ads|
|  6|     Anna|Sullivan|     Sales|1234567895| 6th Address, Miami| 54000|In-Person Sales|
|  7|  Richard|   Smith| Logistics|1234567896| 7th Address, Miami| 56000|Warehouse Mgmt.|
|  8|   Ronnie|   Moore|     Sales|1234567897| 8th Address, Miami| 49000|   Online Sales|
|  9|      Ron|   Drake|        IT|1234567898| 9th Address, Miami| 53000|  Linux Servers|
| 10|    Wayne|  Barker| Logistics|1234567899|10th Address, Miami| 59500|Product Loading|
+---+---------+--------+----------+----------+-------------------+------+---------------+