In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Dataframe-1').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/26 14:57:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/12/26 14:57:35 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
/Users/aakashbolisetty/.pyenv/versions/3.7.5/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [4]:
spark

In [14]:
#Read the dataset into a pyspark dtaaframe

df_pyspark=spark.read.csv('employees.csv',header = True,inferSchema=True) 
#Inferschema looks at the values and sets the datatypes accordingly

In [15]:
### Check the Schema (Similar to info in pandas)

df_pyspark.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Phone: integer (nullable = true)
 |-- Address: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Skills: string (nullable = true)

In [16]:
## To get all column names
df_pyspark.columns

['ID',
 'FirstName',
 'LastName',
 'Department',
 'Phone',
 'Address',
 'Salary',
 'Skills']

In [17]:
#List format output for top n rows
df_pyspark.head(3)

[Row(ID=1, FirstName='Luke', LastName='Phillip', Department='Sales', Phone=1234567890, Address='1st Address, Miami', Salary=52000, Skills='Online Sales'),
 Row(ID=2, FirstName='Jack', LastName='Darren', Department='IT', Phone=1234567891, Address='2nd Address, Miami', Salary=52200, Skills='Networking'),
 Row(ID=3, FirstName='Ken', LastName='Wood', Department='IT', Phone=1234567892, Address='3rd Address, Miami', Salary=58000, Skills='Python, Java')]

In [19]:
##Select certain columns
#SLICING IS NOT POSSIBLE TO SELECT COLUMNS
df_pyspark.select(['FirstName','LastName']).show()

+---------+--------+
|FirstName|LastName|
+---------+--------+
|     Luke| Phillip|
|     Jack|  Darren|
|      Ken|    Wood|
|     John|  Wilson|
|    Emily|  Larson|
|     Anna|Sullivan|
|  Richard|   Smith|
|   Ronnie|   Moore|
|      Ron|   Drake|
|    Wayne|  Barker|
+---------+--------+

In [20]:
df_pyspark.dtypes

[('ID', 'int'),
 ('FirstName', 'string'),
 ('LastName', 'string'),
 ('Department', 'string'),
 ('Phone', 'int'),
 ('Address', 'string'),
 ('Salary', 'int'),
 ('Skills', 'string')]

In [22]:
df_pyspark.describe().show()

24/12/26 15:08:15 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+---------+--------+----------+------------------+-------------------+-----------------+---------------+
|summary|                ID|FirstName|LastName|Department|             Phone|            Address|           Salary|         Skills|
+-------+------------------+---------+--------+----------+------------------+-------------------+-----------------+---------------+
|  count|                10|       10|      10|        10|                10|                 10|               10|             10|
|   mean|               5.5|     null|    null|      null|    1.2345678945E9|               null|          55240.0|           null|
| stddev|3.0276503540974917|     null|    null|      null|3.0276503540974917|               null|3744.685122499176|           null|
|    min|                 1|     Anna|  Barker|        IT|        1234567890|10th Address, Miami|            49000|   Facebook Ads|
|    max|                10|    Wayne|    Wood|     Sales|        1234567899| 9th Address, Miami|            60000|Warehouse Mgmt.|
+-------+------------------+---------+--------+----------+------------------+-------------------+-----------------+---------------+

In [25]:
## Adding columns in the dataframe by operating on another column

df_pyspark = df_pyspark.withColumn('Salary+1000',df_pyspark['Salary']+1000)

In [26]:
df_pyspark.show() ## The column can get changed if you keep the same column name

+---+---------+--------+----------+----------+-------------------+------+---------------+-----------+
| ID|FirstName|LastName|Department|     Phone|            Address|Salary|         Skills|Salary+1000|
+---+---------+--------+----------+----------+-------------------+------+---------------+-----------+
|  1|     Luke| Phillip|     Sales|1234567890| 1st Address, Miami| 53000|   Online Sales|      54000|
|  2|     Jack|  Darren|        IT|1234567891| 2nd Address, Miami| 53200|     Networking|      54200|
|  3|      Ken|    Wood|        IT|1234567892| 3rd Address, Miami| 59000|   Python, Java|      60000|
|  4|     John|  Wilson| Marketing|1234567893| 4th Address, Miami| 59700|   Facebook Ads|      60700|
|  5|    Emily|  Larson| Marketing|1234567894| 5th Address, Miami| 61000|  Instagram Ads|      62000|
|  6|     Anna|Sullivan|     Sales|1234567895| 6th Address, Miami| 55000|In-Person Sales|      56000|
|  7|  Richard|   Smith| Logistics|1234567896| 7th Address, Miami| 57000|Warehouse Mgmt.|      58000|
|  8|   Ronnie|   Moore|     Sales|1234567897| 8th Address, Miami| 50000|   Online Sales|      51000|
|  9|      Ron|   Drake|        IT|1234567898| 9th Address, Miami| 54000|  Linux Servers|      55000|
| 10|    Wayne|  Barker| Logistics|1234567899|10th Address, Miami| 60500|Product Loading|      61500|
+---+---------+--------+----------+----------+-------------------+------+---------------+-----------+

In [27]:
## Drop the column
df_pyspark = df_pyspark.drop('Salary+1000')
df_pyspark.show()

+---+---------+--------+----------+----------+-------------------+------+---------------+
| ID|FirstName|LastName|Department|     Phone|            Address|Salary|         Skills|
+---+---------+--------+----------+----------+-------------------+------+---------------+
|  1|     Luke| Phillip|     Sales|1234567890| 1st Address, Miami| 53000|   Online Sales|
|  2|     Jack|  Darren|        IT|1234567891| 2nd Address, Miami| 53200|     Networking|
|  3|      Ken|    Wood|        IT|1234567892| 3rd Address, Miami| 59000|   Python, Java|
|  4|     John|  Wilson| Marketing|1234567893| 4th Address, Miami| 59700|   Facebook Ads|
|  5|    Emily|  Larson| Marketing|1234567894| 5th Address, Miami| 61000|  Instagram Ads|
|  6|     Anna|Sullivan|     Sales|1234567895| 6th Address, Miami| 55000|In-Person Sales|
|  7|  Richard|   Smith| Logistics|1234567896| 7th Address, Miami| 57000|Warehouse Mgmt.|
|  8|   Ronnie|   Moore|     Sales|1234567897| 8th Address, Miami| 50000|   Online Sales|
|  9|      Ron|   Drake|        IT|1234567898| 9th Address, Miami| 54000|  Linux Servers|
| 10|    Wayne|  Barker| Logistics|1234567899|10th Address, Miami| 60500|Product Loading|
+---+---------+--------+----------+----------+-------------------+------+---------------+

In [29]:
##Rename the column
df_pyspark=df_pyspark.withColumnRenamed("Department",'Dept')
df_pyspark.show()

+---+---------+--------+---------+----------+-------------------+------+---------------+
| ID|FirstName|LastName|     Dept|     Phone|            Address|Salary|         Skills|
+---+---------+--------+---------+----------+-------------------+------+---------------+
|  1|     Luke| Phillip|    Sales|1234567890| 1st Address, Miami| 53000|   Online Sales|
|  2|     Jack|  Darren|       IT|1234567891| 2nd Address, Miami| 53200|     Networking|
|  3|      Ken|    Wood|       IT|1234567892| 3rd Address, Miami| 59000|   Python, Java|
|  4|     John|  Wilson|Marketing|1234567893| 4th Address, Miami| 59700|   Facebook Ads|
|  5|    Emily|  Larson|Marketing|1234567894| 5th Address, Miami| 61000|  Instagram Ads|
|  6|     Anna|Sullivan|    Sales|1234567895| 6th Address, Miami| 55000|In-Person Sales|
|  7|  Richard|   Smith|Logistics|1234567896| 7th Address, Miami| 57000|Warehouse Mgmt.|
|  8|   Ronnie|   Moore|    Sales|1234567897| 8th Address, Miami| 50000|   Online Sales|
|  9|      Ron|   Drake|       IT|1234567898| 9th Address, Miami| 54000|  Linux Servers|
| 10|    Wayne|  Barker|Logistics|1234567899|10th Address, Miami| 60500|Product Loading|
+---+---------+--------+---------+----------+-------------------+------+---------------+