In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataFrame').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/26 19:13:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/12/26 19:13:54 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/12/26 19:13:54 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/12/26 19:13:54 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
/Users/aakashbolisetty/.pyenv/versions/3.7.5/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [3]:
df_pyspark = spark.read.csv('employees.csv',header = True, inferSchema= True)
df_pyspark.show()

+---+---------+--------+----------+----------+-------------------+------+---------------+
| ID|FirstName|LastName|Department|     Phone|            Address|Salary|         Skills|
+---+---------+--------+----------+----------+-------------------+------+---------------+
|  1|     Luke| Phillip|     Sales|1234567890| 1st Address, Miami| 52000|   Online Sales|
|  2|     Jack|  Darren|        IT|1234567891| 2nd Address, Miami| 52200|     Networking|
|  3|      Ken|    Wood|        IT|1234567892| 3rd Address, Miami| 58000|   Python, Java|
|  4|     John|  Wilson| Marketing|1234567893| 4th Address, Miami| 58700|   Facebook Ads|
|  5|    Emily|  Larson| Marketing|1234567894| 5th Address, Miami| 60000|  Instagram Ads|
|  6|     Anna|Sullivan|     Sales|1234567895| 6th Address, Miami| 54000|In-Person Sales|
|  7|  Richard|   Smith| Logistics|1234567896| 7th Address, Miami| 56000|Warehouse Mgmt.|
|  8|   Ronnie|   Moore|     Sales|1234567897| 8th Address, Miami| 49000|   Online Sales|
|  9|      Ron|   Drake|        IT|1234567898| 9th Address, Miami| 53000|  Linux Servers|
| 10|    Wayne|  Barker| Logistics|1234567899|10th Address, Miami| 59500|Product Loading|
+---+---------+--------+----------+----------+-------------------+------+---------------+

### Filter Operations

In [4]:
##Salary less than 50000
df_pyspark.filter('Salary< 50000').show()

+---+---------+--------+----------+----------+------------------+------+------------+
| ID|FirstName|LastName|Department|     Phone|           Address|Salary|      Skills|
+---+---------+--------+----------+----------+------------------+------+------------+
|  8|   Ronnie|   Moore|     Sales|1234567897|8th Address, Miami| 49000|Online Sales|
+---+---------+--------+----------+----------+------------------+------+------------+

In [5]:
df_pyspark.filter('Salary< 50000').select(['FirstName','LastName']).show()

+---------+--------+
|FirstName|LastName|
+---------+--------+
|   Ronnie|   Moore|
+---------+--------+

In [6]:
df_pyspark.filter(df_pyspark['Salary']< 50000).select(['FirstName','LastName']).show()

+---------+--------+
|FirstName|LastName|
+---------+--------+
|   Ronnie|   Moore|
+---------+--------+

In [8]:
##Adding two conditions
df_pyspark.filter((df_pyspark['Salary']< 55000)&(df_pyspark['Salary']>52000)).show()

+---+---------+--------+----------+----------+------------------+------+---------------+
| ID|FirstName|LastName|Department|     Phone|           Address|Salary|         Skills|
+---+---------+--------+----------+----------+------------------+------+---------------+
|  2|     Jack|  Darren|        IT|1234567891|2nd Address, Miami| 52200|     Networking|
|  6|     Anna|Sullivan|     Sales|1234567895|6th Address, Miami| 54000|In-Person Sales|
|  9|      Ron|   Drake|        IT|1234567898|9th Address, Miami| 53000|  Linux Servers|
+---+---------+--------+----------+----------+------------------+------+---------------+

In [11]:
#Negate

df_pyspark.filter(~(df_pyspark['Salary']< 50000)).select(['ID','FirstName','LastName']).show()

+---+---------+--------+
| ID|FirstName|LastName|
+---+---------+--------+
|  1|     Luke| Phillip|
|  2|     Jack|  Darren|
|  3|      Ken|    Wood|
|  4|     John|  Wilson|
|  5|    Emily|  Larson|
|  6|     Anna|Sullivan|
|  7|  Richard|   Smith|
|  9|      Ron|   Drake|
| 10|    Wayne|  Barker|
+---+---------+--------+